#top {border-style:solid;
    border-color:black;
    margin-left:40%;
    width:40%;
    margin-top:5%;

}
#bottom {border-style:solid;
    border-color:green;
    margin-left:40%;
    width:40%;
    margin-top:45%;
}